.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-chart {
    display: flex;
    gap: 1.5rem;
    width: 100%;
  }
  .data {
    width:15%;
  }
  input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: grey;
    
    
  }
  .data {
    text-align: end;
    border: none;
    width: 15%;
    
  
  }
  .time {
     width: 100%;
    
  }
  @media (max-width: 768px) {
    .line-chart {
      flex-direction: column;
      gap: 0;
      width: 80%;
    }
    .data {
      width: 55%;
    }
  }