.App {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: grey;
  margin: 0 auto;
  padding: 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 20px;
  text-transform: uppercase;
  color: grey
}

